{
"name": "$taskinfo.jobName",
"jobType": "$taskinfo.jobType",
"onErrorPolicy": "SKIP",
"componentMap": {
##schema
#if($taskinfo.schemaList)
    #set($schemaflag = "")
    #foreach($schema in $taskinfo.schemaList)
        $!schemaflag
    "$schema.id":{
    "id":"$schema.id",
    "className":"cn.encdata.cloud.dataengine.schema.Schema",
    "configMethods":[
        #set($fieldFlag="")
        #foreach($field in $schema.dataFieldList)
            $!fieldFlag{
        "name":"addField",
        "args":[
        "$field.fieldName",
        "$field.fieldType"
        ]
        }
            #set($fieldFlag=",")
        #end
    ]
    }
        #set($schemaflag=",")
    #end
#end

##jdbc的接入参数
#if($taskinfo.jdbcSourceParamList)
,
    #set($sourceParamFlag = "")
    #foreach($sourceParam in $taskinfo.jdbcSourceParamList)
        $!sourceParamFlag
    "$sourceParam.id":{
    "id":"$sourceParam.id",
    "className":"cn.encdata.cloud.dataengine.core.jdbc.JdbcSourceInputParam",
    "constructorArgs":[
        #set($parmaFlag="")
        #foreach($param in $sourceParam.constructArgsList)
            $!parmaFlag
        "$param"
            #set($parmaFlag=",")
        #end
    ]
    }
        #set($sourceParamFlag=",")
    #end
#end
},

"config": {
"data.source.serial.storetype": "HDFS",
"cache.prop.path": "/encdata/dataengine/propfile",
"data.source.serial": "FALSE",
"write.hdfs.overwrite": "TRUE",
"cache.type": "PROPFILE"
},

"sourceMap":{

##jdbc的接入源
#if($taskinfo.jdbcSourceInputFormatList)
    #set($sourceFlag ="")
    #foreach($source in $taskinfo.jdbcSourceInputFormatList)
        $!sourceFlag
    "$source.id":{
    "parallelism": 1,
    "id":"$source.id",
    "className":"cn.encdata.cloud.dataengine.core.sources.batch.jdbc.JdbcSourceInputFormat",
    "constructorArgs":[
        #set($sourceInputFlag="")
        #foreach($field in $source.constructArgsList)
            $!sourceInputFlag
        "$field"
            #set($sourceInputFlag = ",")
        #end
    ]
    }
        #set($sourceFlag=",")
    #end
#end


##implala的接入源
#if($taskinfo.impalaSourceList)
##如果有jdbc
    #if($taskinfo.jdbcSourceInputFormatList)
    ,
    #end
    #set($impalaFlag= "")
    #foreach($impalaSource in $taskinfo.impalaSourceList)
        $!impalaFlag
    "$impalaSource.id":{
    "parallelism": 1,
    "id":"$impalaSource.id",
    "className":"cn.encdata.cloud.dataengine.core.sources.batch.parquet.ParquetSourceInputFormat",
    "constuctorArgs":[
        #set($impalConFlag="")
        #foreach($field in $impalaSource.constructArgsList)
            $!impalConFlag
        "$field"
            #set($impalConFlag=",")
        #end
    ]
    }
        #set($impalaFlag=",")
    #end
#end
},

##join的操作
"operatorMap":{
#set($joinFlag="")
#foreach($join in $taskinfo.joinOperatorList)
    $!joinFlag
"$join.id":{
"parallelism": 1,
"id":"$join.id",
"className":"cn.encdata.cloud.dataengine.core.operators.EncJoinFunction",
"constuctorArgs":[
    #set($joinConFlag = "")
    #foreach($field in $join.constructArgsList)
        $!joinConFlag
    "$field"
        #set($joinConFlag = ",")
    #end
]
}
    #set($joinFlag=",")
#end
,
##map的operator
#set($mapFlag="")
#foreach($map in $taskinfo.mapOperatorList)
    $!mapFlag
"$map.id":{
"parallelism": 1,
"id":"$map.id",
"className":"cn.encdata.cloud.dataengine.core.operators.EncJoinFunction",
"constuctorArgs":[
    #set($mapConFlag = "")
{
    #foreach($data in $map.constructArgsMap.entrySet())
        $!mapConFlag
    "$data.key":"$data.value"
        #set($mapConFlag=",")
    #end
}
]
}
    #set($mapFlag=",")
#end
},


##sink
"sinkMap":{
#if($taskinfo.jdbcSinkBean)
"$taskinfo.jdbcSinkBean.id":{
"parallelism": 1,
"id":"$taskinfo.jdbcSinkBean.id",
"className":"cn.encdata.cloud.dataengine.core.sinks.batch.jdbc.JdbcSinkOutputFormat",
"constuctorArgs":[
##sink的参数
    #set($jdbcConFlag="")
    #foreach($field in $taskinfo.jdbcSinkBean.constructArgsList)
        $!jdbcConFlag
    "$field"
        #set($jdbcConFlag=",")
    #end
]
}
#end

#if($taskinfo.impalaSinkBean)
"$taskinfo.impalaSinkBean.id":{
"parallelism": 1,
"id":"$taskinfo.impalaSinkBean.id",
"className":"cn.encdata.cloud.dataengine.core.sinks.batch.parquet.ParquetSinkOutPutFormat",
"constuctorArgs":[
##sink的参数
    #set($impalaConFlag="")
    #foreach($field in $taskinfo.impalaSinkBean.constructArgsList)
        $!impalaConFlag
    "$field"
        #set($impalaConFlag=",")
    #end
]
}
#end
},


"streams":[
#set($streamFlag="")
#foreach($stream in $taskinfo.streamList)
    $!streamFlag
{
"name":"$stream.name",
"from":"$stream.from",
"to":"$stream.to"
    #if($stream.operation)
    ,
    "operation":"$stream.operation"
    #end
    #if($stream.joinSide)
    ,
    "joinSide":"$stream.joinSide"
    #end
    #if($stream.joinKeys)
    ,
    "joinKeys":"$stream.joinKeys"
    #end
    #if($stream.tableName)
    ,
    "tableName":"$stream.tableName"
    #end
}
    #set($streamFlag=",")
#end
]

}